<div class="row">
    <div class="col-md-4 order-md-1 mb-4">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/home">Causes</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/events">Events</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/talkingpoints">Talking points</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/resources">Resources</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/survey">Surveys</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/localmedia">Local Media</a></span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><a href="/sendnotification">Send Notification</a></span>
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between">
                <span>Option 5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Option 6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Option 7</span>
            </li> -->
        </ul>
    </div>