<% include partials/head %>

    <body>
        <% include partials/header %>
            <div>

                <div class="container full-page">



                        <div class="col-md-8 order-md-2">
                            <div class="row align-items-center mb-3">
                                <div class="col-md-12">
                                    <h4 class="mb-0 txt-red">Create Cause</h4>
                                </div>
                            </div>

                            <form id="add-cause-form" class="needs-validation" method="post" action="/create/cause" onsubmit="return validateCauseForm()"
                                enctype="multipart/form-data" novalidate="">
                                <% if (message.length > 0) { %>
                                    <div class="alert alert-success col-sm-12">
                                        <%= message %>
                                    </div>
                                    <% } %>

                                        <div class="form-group">
                                            <label for="first_name" class="col-md-3 control-label">Title</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" name="title" maxlength="99" placeholder="Title" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name" class="col-md-3 control-label">Description</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" maxlength="1999" name="description" placeholder="Description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mob_no" class="col-md-3 control-label">Image</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="file" name="uploaded_image" accept="" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- Button -->
                                            <div class="col-md-offset-3 col-md-9">
                                                <button id="btn-signup" type="submit" class="btn btn-primary">
                                                    <i class="icon-hand-right"></i> &nbsp Submit</button>
                                            </div>
                                        </div>

                            </form>




                        </div>

                </div>
            </div>
            <% include partials/footer %>
    </body>