<% include partials/head %>

    <body>
        <% include partials/header %>
            <div>
                <div class="banner">
                    <div class="container">
                        <a href="/causes" class="float-left banner-link">
                            <img src="../../svg/back.svg"> BACK TO CAUSES</a>
                        <a href="/causeedit" class="float-right banner-link">EDIT CAUSE</a>
                        <div class="py-5 text-center">
                            <h2 class="lead">Put an end to Immigration-related Crimes in Burma</h2>
                        </div>
                    </div>
                </div>
                <div class="container full-page">

                    <% include partials/sidemenu %>

                        <div class="col-md-8 order-md-2">
                            <div class="row align-items-center mb-3">
                                <div class="col-md-8">
                                    <h4 class="mb-0 txt-red">Resources</h4>
                                </div>
                                <div class="col-md-4">
                                    <a href="/create/resources" class="btn btn-primary mb-2m float-right">Create New</a>
                                </div>
                            </div>

                            <input id="resources-search" class="form-control mr-sm-2 mb-3" type="search" placeholder="Search by causes" aria-label="Search">
                            <div id="resources-list-group" class="list-group">
                                <% for(var i=0; i<data.length; i++) { %>
                                    <a href="/resources/edit/<%=data[i].ID%>" class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <%=data[i].Title%>
                                        </h4>

                                        <p class="list-group-item-text">
                                            <%=data[i].Description%>
                                        </p>
                                    </a>
                                    <% } %>
                            </div>
                        </div>

                </div>
            </div>
            <% include partials/footer %>

    </body>